body{
    font-family: 'Lato', sans-serif;
}


#clock{
    /*width: 610px;*/
    width: 100%;
}
#clockHM{
    color: white;
    font-size: 8vw;
    font-weight: 300;
    float: left;
}

#clockSeconds{
    padding-top: 2%;

    float: left;
    font-weight: 500;
    font-size: 3.2vw;
    color: white;
    opacity: 0.8;
}

#clear{
    clear: both;
}